ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;

}

ul#menu li a {
    background-color: darkgrey;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}
#menu{
    margin-left:60%;
    margin-top: -50px;
}
.home{
    background-image: url(coffeebar.jpg);
    height: 800px;
    background-size: cover;
}
header{
    background-color: black;
}
h1{
    font-weight: bolder;
}

.about h1{
    text-align: center;
    font-family: serif;

    
}
.about{
    padding-top: 60px;
    color: white;
    padding: 20%;
}
.edu{
    background-color: #a9a9a9;
}
.edu p,h3{
    color: white;
}
.work{
    background-color: #a9a9a9;
}
.work p,h3{
    color: #fff;
}

.red{
    color: red;
}
.why{
    background-image: url(lounge.jpg);
    height: 800px;
    background-size: cover;
}













